#appbar
{
    display: none;
}
#menuFab
{
    position: absolute;
}

#appbarShareSpace
{
    text-align: center;
    color: var(--primary);
    width: 100%;
    font-size: 1.4em;
}
@media screen and (max-width:725px)
{
    #appbar
    {
        display:flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 60px;
        z-index: 50;
        background-color: white;
        box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 10px 0px;
        padding: 0 10px;
        align-items: center;
    }
}
        